<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Examen HTML5 y CSS3</title>
  <link rel="stylesheet" href="../css/obtener.css" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <ul class="header_ul">
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
        <div class="header_icono"><i class='bx bx-universal-access' ></i></div>
      </header>
  <main>
    <div class="main_contenedor">
      <article class="main_article">
        <div class="div1"><img src="../store/img/a1.png"></div>
        <div class="div2"><img src="../store/img/a1.png"></div>
        <div class="div3"><img src="../store/img/a1.png"></div>
        <div class="div4"><img src="../store/img/a1.png"></div>
        <div class="div5"><img src="../store/img/a1.png"></div>
        <div class="div6">
          <h1 class="div6_h1">Nombre del producto</h1>
          <div class="div6_imagenes">
            <i class='bx bx-chevron-down' ></i>
            <i class='bx bx-chevron-down' ></i>
            <i class='bx bx-chevron-down' ></i>
            <i class='bx bx-chevron-down' ></i>
            <i class='bx bx-chevron-down' ></i>
          </div>
          <p class="div6_Pprincipal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae blanditiis nesciunt totam odit assumenda. Voluptate aut vitae alias eum similique odit debitis amet modi eaque non, aliquam repudiandae maiores possimus?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta officiis distinctio ullam aliquam labore voluptate qui et quis temporibus assumenda rerum quos quibusdam ut, totam facere animi, iusto mollitia vitae.</p>
          <div class="div6_Psecundario">
              <div class="Psecundario_1">
                $ 100.000
              </div>
              <div class="Psecundario_2">
                $ 99.99
              </div>
            </div>
          <button class="div6_button"><a href="#">Obtener</a></button>
        </div>
      </article> 
    </div>
  </main>
  <article class="a">
    <div class="a_icono"><i class='bx bx-x' ></i></div>
    <div class="contenedorimg">   
        <div class="a_img">
            <img src="../store/img/a1.png">
        </div>
    </div> 
    <div class="a_producto">
        <h1 class="a_h1">Nombre del producto</h1>
        <div class="a_iconos">
          <i class='bx bx-chevron-down' ></i>
          <i class='bx bx-chevron-down' ></i>
          <i class='bx bx-chevron-down' ></i>
          <i class='bx bx-chevron-down' ></i>
          <i class='bx bx-chevron-down' ></i>
        </div>
        <p class="aprincipal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae blanditiis nesciunt totam odit assumenda...</p>
        <div class="asecundario">
            <div class="asecundario_1">
              $ 100.000
            </div>
            <div class="asecundario_2">
              $ 99.99
            </div>
          </div>
        <div class="a_input">
            <input type="Cantidad" placeholder="Cantidad">
            <button class="a_button"><a href="#">Agregar</a></button>
        </div>
        
      </div>
  </article>
</body>

</html>